.header {
    background: #014e56;
    padding-top: 80px;
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        gap: 80px;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__link {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }
    &__icon {
        display: none;
    }
}
.btn {
    border-radius: 24px;
    border: 2px solid #fff;
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    background-color: #014e56;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

@media only screen and (max-width: 1120px) {
    .header {
        padding: 0 20px;
        padding-top: 72px;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 0 20px;
        padding-top: 72px;

        &__list {
            display: none;
        }
        &__icon {
            display: block;
            color: #fff;
            i {
                font-size: 32px;
            }
        }
        
    }
    .btn {
        display: none;
    }
}
